In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/harsh22chauhan/Data-Sets/master/Datasets/Customer%20Segmentation.csv")
data.head()

   INCOME  SPEND
0     233    150
1     250    187
2     204    172
3     236    178
4     354    163